<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <h1>Mago dementador</h1>
    <h2>Uma pessoa misteriosa solicitou<br> a entrada no portão Norterdeste!</h2>
    <img src="{{ url_for('static', filename='img/image.png') }} "alt="Belle dementador." width="500" style="display: block; margin: 0 auto;">

</body>
</html> 